p{
    text-align-last: center;
    color: white;
}

body{
    text-align-last: center;
        background-color: #d46300;
        background-image: url(http://www.transparenttextures.com/patterns/diagmonds.png);
    
}