body{
    background-color: #d46300;
    background-image: url(http://www.transparenttextures.com/patterns/diagmonds.png);
    text-align: center;
    border: solid;
    color: white;
}

p{
    color: white;
}